<div class="h-[300px] ">
    <div class="border-t-3 border-b-2 border-gray-500 py-[20px]">
        <div class="border-gray-500">
            <div class="flex justify-between items-center w-[100%]  bg-block text-white ">
                <!-- Left side navigation -->
                <div class="flex p-2">
                    <div class="nav-item group  font-bold rounded-md">Careers</div>
                    <div class="nav-item group  rounded-md">About</div>
                    <div class="nav-item group  rounded-md">Support</div>
                    <div class="nav-item group  rounded-md">Contact Us</div>
                    <div class="nav-item group  rounded-md">Press</div>
                    <div class="nav-item group  rounded-md">API</div>
                </div>
        
                <!-- Right side with image
                <div class="nav-item flex group relative">
                    <img src="assets/items/g2.png" alt="Right Side Image" class="h-8 w-8 justify-center px-1" /> English(US)
                </div>
                 -->
            </div>
        </div>
        
    </div>
</div>