
<div class="py-[100px]">
    <div class="py-2">
        <h1 class="text-white text-2xl font-black">Recommended</h1>
    </div>
    <a href="/nextPage" class="block">
        <div class="grid grid-cols-2 md:grid-cols-5 gap-6">
    
            <div class="bg-neutral-900 text-white rounded-lg overflow-hidden flex flex-col h-[400px] relative  group">
              <div class="h-[45%] transition-transform duration-500 ease-in-out relative overflow-hidden">
                <img src="assets/sliding/live1.webp" alt="Game Image" class="w-full h-full object-cover ">
                <div class="absolute top-2 left-2 bg-red-600 text-white text-xs px-2 py-1 rounded hover:bg-red-500">LIVE</div>
              </div>
              
              <div class="h-[65%] p-4 transition-transform duration-500 ease-in-out transform group-hover:translate-y-[-10px]">
                    <div class="flex items-center mb-2">
                    <img src="assets/items/w1.jpg" alt="Game Logo" class="w-6 h-6 mr-2">
                    <h3 class="text-lg font-semibold text-gray-400">WORLD OF WARCRAFT</h3>
                    
                    </div>
                    <p class="text-sm mb-2 text-white font-bold">World of Warcraft: The War Within TM</p>
                    <p class="text-sm mb-2 text-yellow-500 font-bold">Now live! Get a Level 70 Boost included in all editions and get back in the fight.</p>
                    <p class="text-sm mt-2 text-gray-400 ">Massively multiplayer RPG</p>
                    <p class="mt-6 font-bold">$49.99</p>
              </div>
            </div>

            <div class="bg-neutral-900 text-white rounded-lg overflow-hidden flex flex-col h-[400px] relative group">
                <div class="h-[42%] transition-transform duration-500 ease-in-out relative overflow-hidden group">
                  <img src="assets/sliding/diablo.jpg" alt="Game Image" class="w-full h-full object-cover">
                  <div class="absolute top-2 left-2 bg-red-600 text-white text-xs px-2 py-1 rounded hover:bg-red-500">PRE-PURCHASE</div>
                </div>
                
                <div class="h-[58%] p-4 relative hover:bg-neutral-800  transition-transform duration-500 ease-in-out transform group-hover:translate-y-[-10px]">
                      <div class="flex items-center mb-2">
                      <img src="assets/sliding/diablo1.png" alt="Game Logo" class="w-6 h-4 mr-2">
                      <h3 class="text-lg font-semibold text-gray-400">DIABLO IV</h3>
                      
                      </div>
                      <p class="text-sm mb-2 text-white font-bold">Diablo IV Expansion Bundle</p>
                      <p class="text-sm mb-2 text-yellow-500 font-bold">Last chance to pre-purchase</p>
                      <p class="text-sm mt-2 text-gray-400 ">action RPG</p>
                      <p class="mt-16 font-bold">$49.99</p>
                </div>
              </div>

              <div class="bg-neutral-900 text-white rounded-lg overflow-hidden flex flex-col h-[400px] relative group">
                <div class="h-[42%] transition-transform duration-500 ease-in-out relative overflow-hidden group">
                  <img src="assets/sliding/call_of.jpg" alt="Game Image" class="w-full h-full object-cover">
                  <div class="absolute top-2 left-2 bg-red-600 text-white text-xs px-2 py-1 rounded hover:bg-red-500">PRE-PURCHASE</div>
                </div>
                
                <div class="h-[58%] p-4 relative hover:bg-neutral-800  transition-transform duration-500 ease-in-out transform group-hover:translate-y-[-10px]">
                      <div class="flex items-center mb-2">
                      <img src="assets/sliding/bo6.png" alt="Game Logo" class="w-6 h-6 mr-2">
                      <h3 class="text-lg font-semibold text-gray-400">CALL OF DUTY OPS 6</h3>
                      
                      </div>
                      <p class="text-sm mb-2 text-white font-bold">World of Warcraft: The War Within TM</p>
                      <p class="text-sm mb-2 text-yellow-500 font-bold">Now live! Get a Level 70 Boost included.</p>
                      <p class="text-sm mt-2 text-gray-400 ">Action Shooter</p>
                      <p class="mt-12 font-bold">$99.99</p>
                </div>
              </div>

              <div class="bg-neutral-900 text-white rounded-lg overflow-hidden flex flex-col h-[400px] relative group">
                <div class="h-[42%] transition-transform duration-500 ease-in-out relative overflow-hidden group">
                  <img src="assets/sliding/o1.jpg" alt="Game Image" class="w-full h-full object-cover">
                </div>
                
                <div class="h-[58%] p-4 relative hover:bg-neutral-800  transition-transform duration-500 ease-in-out transform group-hover:translate-y-[-10px]">
                      <div class="flex items-center mb-2">
                      <img src="assets/sliding/o.jpg" alt="Game Logo" class="w-6 h-6 mr-2">
                      <h3 class="text-lg font-semibold text-gray-400">OVERWATCH 2</h3>
                      
                      </div>
                      <p class="text-sm mb-2 text-white font-bold py-2">OverWatch </p>
                      <p class="text-sm mb-2 text-yellow-500 font-bold"></p>
                      <p class="text-sm mt-2 text-gray-400 ">Team-based action game</p>
                      <p class="mt-20 font-bold">Play For Free</p>
                </div>
              </div>
              <div class="bg-neutral-900 text-white rounded-lg overflow-hidden flex flex-col h-[400px] relative group">
                <div class="h-[42%] transition-transform duration-500 ease-in-out relative overflow-hidden group">
                  <img src="assets/sliding/h2.jpg" alt="Game Image" class="w-full h-full object-cover">
                </div>
                
                <div class="h-[58%] p-4 relative hover:bg-neutral-800  transition-transform duration-500 ease-in-out transform group-hover:translate-y-[-10px]">
                      <div class="flex items-center mb-2">
                      <img src="assets/sliding/h.jpg" alt="Game Logo" class="w-6 h-6 mr-2">
                      <h3 class="text-lg font-semibold text-gray-400">HEARTHSTONE</h3>
                      
                      </div>
                      <p class="text-sm mb-2 text-white font-bold py-2">HEARTHSTONE</p>
                      <p class="text-sm mb-2 text-yellow-500 font-bold"></p>
                      <p class="text-sm mt-2 text-gray-400 ">Stratergy Card Game</p>
                      <p class="mt-20 font-bold">Play For Free</p>
                </div>
              </div>
              <div class="bg-neutral-900 text-white rounded-lg overflow-hidden flex flex-col h-[400px] relative group">
                <div class="h-[42%] transition-transform duration-500 ease-in-out relative overflow-hidden group">
                  <img src="assets/sliding/h2.jpg" alt="Game Image" class="w-full h-full object-cover">
                </div>
                
                <div class="h-[58%] p-4 relative hover:bg-neutral-800  transition-transform duration-500 ease-in-out transform group-hover:translate-y-[-10px]">
                      <div class="flex items-center mb-2">
                      <img src="assets/sliding/h.jpg" alt="Game Logo" class="w-6 h-6 mr-2">
                      <h3 class="text-lg font-semibold text-gray-400">HEARTHSTONE</h3>
                      
                      </div>
                      <p class="text-sm mb-2 text-white font-bold py-2">HEARTHSTONE</p>
                      <p class="text-sm mb-2 text-yellow-500 font-bold"></p>
                      <p class="text-sm mt-2 text-gray-400 ">Stratergy Card Game</p>
                      <p class="mt-20 font-bold">Play For Free</p>
                </div>
              </div>

              <div class="bg-neutral-900 text-white rounded-lg overflow-hidden flex flex-col h-[400px] relative group">
                <div class="h-[42%] transition-transform duration-500 ease-in-out relative overflow-hidden group">
                  <img src="assets/sliding/o1.jpg" alt="Game Image" class="w-full h-full object-cover">
                </div>
                
                <div class="h-[58%] p-4 relative hover:bg-neutral-800  transition-transform duration-500 ease-in-out transform group-hover:translate-y-[-10px]">
                      <div class="flex items-center mb-2">
                      <img src="assets/sliding/o.jpg" alt="Game Logo" class="w-6 h-6 mr-2">
                      <h3 class="text-lg font-semibold text-gray-400">OVERWATCH 2</h3>
                      
                      </div>
                      <p class="text-sm mb-2 text-white font-bold py-2">OverWatch </p>
                      <p class="text-sm mb-2 text-yellow-500 font-bold"></p>
                      <p class="text-sm mt-2 text-gray-400 ">Team-based action game</p>
                      <p class="mt-20 font-bold">Play For Free</p>
                </div>
              </div>

              <div class="bg-neutral-900 text-white rounded-lg overflow-hidden flex flex-col h-[400px] relative group">
                <div class="h-[42%] transition-transform duration-500 ease-in-out relative overflow-hidden group">
                  <img src="assets/sliding/dia.jpg" alt="Game Image" class="w-full h-full object-cover">
                </div>
                
                <div class="h-[58%] p-4 relative hover:bg-neutral-800  transition-transform duration-500 ease-in-out transform group-hover:translate-y-[-10px]">
                      <div class="flex items-center mb-2">
                      <img src="assets/sliding/d11.png" alt="Game Logo" class="w-6 h-6 mr-2">
                      <h3 class="text-lg font-semibold text-gray-400">OVERWATCH 2</h3>
                      
                      </div>
                      <p class="text-sm mb-2 text-white font-bold py-2">OverWatch </p>
                      <p class="text-sm mb-2 text-yellow-500 font-bold"></p>
                      <p class="text-sm mt-2 text-gray-400 ">Team-based action game</p>
                      <p class="mt-20 font-bold">Play For Free</p>
                </div>
              </div>
              <div class="bg-neutral-900 text-white rounded-lg overflow-hidden flex flex-col h-[400px] relative group">
                <div class="h-[42%] transition-transform duration-500 ease-in-out relative overflow-hidden group">
                  <img src="assets/sliding/cod2.jpg" alt="Game Image" class="w-full h-full object-cover">
                </div>
                
                <div class="h-[58%] p-4 relative hover:bg-neutral-800  transition-transform duration-500 ease-in-out transform group-hover:translate-y-[-10px]">
                      <div class="flex items-center mb-2">
                      <img src="assets/sliding/cod.jpg" alt="Game Logo" class="w-6 h-6 mr-2">
                      <h3 class="text-lg font-semibold text-gray-400">OVERWATCH 2</h3>
                      
                      </div>
                      <p class="text-sm mb-2 text-white font-bold py-2">OverWatch </p>
                      <p class="text-sm mb-2 text-yellow-500 font-bold"></p>
                      <p class="text-sm mt-2 text-gray-400 ">Team-based action game</p>
                      <p class="mt-20 font-bold">Play For Free</p>
                </div>
              </div>
              <div class="bg-neutral-900 text-white rounded-lg overflow-hidden flex flex-col h-[400px] relative group">
                <div class="h-[42%] transition-transform duration-500 ease-in-out relative overflow-hidden group">
                  <img src="assets/sliding/daiblo2.jpg" alt="Game Image" class="w-full h-full object-cover">
                </div>
                
                <div class="h-[58%] p-4 relative hover:bg-neutral-800  transition-transform duration-500 ease-in-out transform group-hover:translate-y-[-10px]">
                      <div class="flex items-center mb-2">
                      <img src="assets/sliding/d2.jpg" alt="Game Logo" class="w-6 h-6 mr-2">
                      <h3 class="text-lg font-semibold text-gray-400">OVERWATCH 2</h3>
                      
                      </div>
                      <p class="text-sm mb-2 text-white font-bold py-2">OverWatch </p>
                      <p class="text-sm mb-2 text-yellow-500 font-bold"></p>
                      <p class="text-sm mt-2 text-gray-400 ">Team-based action game</p>
                      <p class="mt-20 font-bold">Play For Free</p>
                </div>
              </div>
          </div>
    </a>

</div>