<div class="h-[500px] w-full bg-zinc-900 bg-cover bg-center flex items-center justify-center  border-t-2 border-b-2 border-gray-600 ">
  <div class="container mx-auto flex flex-col lg:flex-row items-center justify-between px-4 lg:px-0">

    <div class="w-full lg:w-1/2 p-4">
      <img src="assets/sliding/background.avif" alt="Laptop Image" class="w-full h-auto object-cover  items-center justify-between  rounded-lg">
    </div>
 
    <div class="w-full lg:w-1/2 text-center lg:text-left text-white">
      <h1 class="text-4xl lg:text-5xl font-bold mb-6 px-[120px]" >Dive into adventure</h1>
      <p class="text-lg mb-4 px-[120px]">Download Battle.net and join a community of millions.</p>
      
      <!-- Buttons section -->
      <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 lg:space-x-4 px-[120px]">
        <a href="#" class="bg-neutral-900  text-white py-3 px-10 rounded-lg bordr border-2 border-neutral-700 hover:border-sky-400 ">Download for Windows</a>
        <a href="#" class="bg-neutral-900  text-white py-3 px-10 rounded-lg bordr border-2 border-neutral-700  hover:border-neutral-5   00">Learn More</a>
      </div>
      
      <!-- Additional links -->
      <p class="text-gray-400 mt-4 px-[120px] py-4">Also available for <a href="#" class="underline text-sky-400">Mac</a> and <a href="#" class="underline text-sky-400">mobile</a></p>
    </div>
  </div>
</div>

